#map {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#formBlock {
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #ddd;
  position: absolute;
  top: 30%;
  left: 40%;
  padding: 10px;
  z-index: 999;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
  border-radius: 5px;
  width: 100%;
  align-self: center;
}

.leaflet-top .leaflet-control {
  margin-top: 180px;
}

.input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 15px;
  border-radius: 3px;
}

.button {
  background-color: yellowgreen;
  margin-left: 60px;
  border: none;
  border-radius: 20px;
  font-size: 18px;
  margin-top: 20;
  height: 50px;
  width: 150px;
}

#distance {
  z-index: 999;
  position: absolute;
}

label {
  margin: 10px;
}
#form {
  padding: 0;
  margin: 20px;
}
#geocoder {
  z-index: 1;
  margin: 10px;
  z-index: 999;
  position: relative;
}
#geocoder1 {
  z-index: 1;
  margin: 10px;
  z-index: 999;
}
.mapboxgl-ctrl-geocoder {
  min-width: 100%;
}
input:nth-child(1) {
  margin-bottom: 10px;
}
